/* 하연교육 디자인 에셋*/

:root {
    /*하연교육 색상표*/
    --main:#FF9922;
    --main2:#FF8522;
    --blue:#5492FF;
    --green:#93CA45;
    --green2:#6CAC11;
    --black:#000000;
    --gray1:#555555;
    --gray2:#777777;
    --gray3:#999999;
    --wh_gray:#F8F8F8;
    --yellow:#FFF194;
    --border1:#dddddd;
}

/*기본 텍스트 스타일*/
*{font-family:'Pretendard';}
h1{font-size:0;}
h1 a{font-size:0}/*로고 타이틀 - soundOlny*/
h2{font-size:46px;font-weight:700;line-height:55.2px;color:var(--black)}
h4{font-size:32px;font-weight:700;line-height:42px;color:var(--black)}
h5{font-size:24px;font-weight:700;line-height:28.8px;color:var(--black);}
P{font-size:24px;font-weight:500;color:var(--gray1);}
.comment{font-size:14px;line-height:22px;font-weight:500;color:#555;text-align:left;}
.comment.listType::before{display:inline-block;content:'';width:4px;min-width:4px;height:4px;background:#999;margin-right:8px;transform:translateY(-3px);}
.soundOnly{font-size:0;display:none;}
.required{position:relative;display:inline;}
.required::after{position:absolute;top:0;right:-16px;content:'*';color:var(--main2);width:10px;height:10px;}
.important{color:var(--main2)}

/*PC요소&모바일요소*/
.pc_only_b{display:block !important;;}
.pc_only_f{display:flex !important;;}
.m_only_b{display:none !important;}
.m_only_f{display:none !important;}

/*input*/
input{width:100%;height:46px;line-height:46px;padding:0 16px;border:1px solid var(--border1);color:var(--black);font-size:14px;font-weight:500;border-radius:4px;}
input:focus{border:1px solid var(--main2);}
input::placeholder{color:var(--gray3)}
input:disabled{background:#eee;color:var(--gray2);}

/*input[type='checkbox']*/
label input[type='checkbox']{display:none;}
label:has(input[type='checkbox']){display:block;position:relative;width:24px;height:24px;border-radius:4px;border:1px solid #aaa;background:url('../assets/icons/check.svg')no-repeat center #fff;color:#DDDDDD;padding:0}
label:has(input[type='checkbox']:checked){position:relative;;border:1px solid var(--main2);background:url('../assets/icons/check_on.svg')no-repeat center var(--main2);color:#fff;}
.label_chk_wrap p{font-size:16px;font-weight:500;color:#555;}
.label_chk_wrap .allceck{font-size:20px;font-weight:500;color:#000;}
.label_chk_wrap span{font-size:16px;font-weight:500;color:var(--main2)}


/*input[type='radio']*/
input[type="radio"]{width:24px;height:24px;border:1px solid #aaa;padding:0;border-radius:50%;}
input[type="radio"]:checked{background:#fff;border:7px solid var(--main2)}
input[type="radio"]:disabled{background:#fff;border:7px solid var(--border1)}

/*button*/
button.h56{height:56px;line-height:56px;border-radius:4px;text-align:center;font-weight:700;font-size:20px;width:100%;}
button.h46{height:46px;line-height:46px;border-radius:4px;text-align:center;font-weight:700;font-size:14px;width:100%;}
button.h40{height:40px;line-height:40px;border-radius:4px;text-align:center;font-weight:700;font-size:14px;width:100%;}
button.type01{background:var(--main2);color:#fff;}
button.type02{background:#fff;border:1px solid #aaa;color:var(--black)}
button.type03{background:#fff;border:1px solid  var(--main2);color:var(--main2)}

/*중앙영역*/
.md_contents{display:flex;justify-content:center;align-items:center;flex-direction:column;}
.mx_600{max-width:600px;}

/*영역*/
.btn_area{width:100%;;display:flex;justify-content:center;align-items:center;gap:24px}
.label_chk_wrap{display:flex;align-items:center;gap:8px}
.tit_area{display:flex;justify-content:space-between;align-items:flex-start;width:100%;padding-bottom:24px;border-bottom:1px solid #000;}

/*form_table*/
.form_table{width:100%;}
.form_table th, td{padding:12px 0}
.form_table th{text-align:left;}
.form_table th p{font-size:16px;font-weight:500;color:#000}
.form_table .flex_box{display:flex;align-items:center;}
.form_table .flex_box:has(button){gap:8px}
.form_table .flex_box input:not([type="radio"],[type="checkbox"]){width:292px}
.form_table .flex_box button{width:150px;}
.form_table .flex_box.address{flex-wrap:wrap;gap:8px}
.form_table .flex_box.address .full{width:100%;}
.form_table tr:has(.address) td > .flex_box:first-child{margin-bottom:8px}
.form_table tr:has(.address) th{vertical-align : top;padding-top:24px}
.form_table tr:has(.authen) th{vertical-align : top;padding-top:24px}
.form_table th.top{vertical-align : top;}
.form_table .authen .flex_box:not(:first-child){margin-top:8px}
/*=============================================================*/
/*                      header - GNB(pc)                       */
/*=============================================================*/
header{width:100%;z-index:999;}
header .header_wraper_m{display:none;}
header .header_wraper_pc{display:flex;width:1400px;height:90px;margin:0 auto;justify-content:space-between;align-items:center;}
header .header_wraper_pc nav{height:100%;display:flex;align-items:center;}
header .header_wraper_pc nav ul{display:flex;gap:80px;}
header .header_wraper_pc nav ul li a{font-size:18px;line-height:21px;color:var(--black);font-weight:600;}
.login_menu{display:flex;justify-content:flex-start;align-items:center;gap:12px}
.login_menu button{height:37px;line-height:37px;border-radius:50px;padding:0 24px;font-weight:700;}
.login_menu button.type02{color:var(--gray1)}
#M_menu{display:none;}
#Fullmenu{width:100%;border:1px solid var(--border1);border-bottom:1px solid var(--border1);padding:32px 0 60px;position:absolute;top:90px;background:#fff;z-index:999;;}
#Fullmenu .full_menu_wraper{margin:0 auto;}
#Fullmenu .full_menu_wraper > ul{display:flex;justify-content:center;gap:50px}
#Fullmenu .full_menu_wraper .depth2{display:flex;flex-direction:column;align-items:center;gap:16px}
#Fullmenu .full_menu_wraper ul > li:nth-child(1) .depth2{transform:translateX(-8px);}
#Fullmenu .full_menu_wraper ul > li:nth-child(2) .depth2{transform:translateX(-8px);}
#Fullmenu .full_menu_wraper ul > li:nth-child(4) .depth2{transform:translateX(-8px);}
#Fullmenu .full_menu_wraper ul > li:nth-child(5) .depth2{transform:translateX(-14px);}
#Fullmenu .full_menu_wraper .depth2 a{font-size:16px;font-weight:600;color:#555}
#Fullmenu .full_menu_wraper .depth2 a:hover{color:var(--main2);border-bottom:1px solid var(--main2);}

/*=============================================================*/
/*                      header - LNB(pc)                       */
/*=============================================================*/
#LNB{width:100%;height:50px;border-top:1px solid var(--border1);border-bottom:1px solid var(--border1);display:flex;align-items:center;z-index:999;}
#LNB .Lnb_wraper{width:1400px;height:100%;margin:0 auto;display:flex;justify-content:flex-start;align-items:center;}
#LNB .Lnb_wraper > li{height:100%;padding:0 16px;border-left:1px solid var(--border1);display:flex;align-items:center;font-size:14px;color:var(--black)}
#LNB .Lnb_wraper > li:not(:first-child){min-width:200px;}
#LNB .Lnb_wraper > li:last-child{border-right:1px solid var(--border1);}
#LNB .Lnb_wraper .depth1{color:#777}
#LNB .Lnb_wraper .depth2{position:relative;display:flex;justify-content:space-between;align-items:center;z-index:99;}
#LNB .Lnb_wraper .depth2::after{content:'';display:inline-block;width:16px;height:16px;background:url(../assets/icons/icon_dropdown.svg)center no-repeat;transition:.3s;}
#LNB .Lnb_wraper .depth2.active::after{transform:rotate(-180deg);}
#LNB .Lnb_wraper .depth2_option{position:absolute;top:102%;left:0;width:100%;padding:24px 16px;outline:1px solid var(--border1);display:flex;flex-direction:column;gap:16px;background:#fff;}
#LNB .Lnb_wraper .depth2_option li{font-size:14px;line-height:22px;font-weight:500;color:var(--gray2);cursor: pointer;;}
#LNB .Lnb_wraper .depth2_option li:hover{color:var(--black);}
/*=============================================================*/
/*                         footer (pc)                         */
/*=============================================================*/
footer{background:#1B1A1E;padding:60px 0}
footer .txt_area{opacity:.5;display:flex;flex-direction:column;gap:10px;}
footer .txt_area p,footer .txt_area address{font-size:14px;font-weight:700;color:#fff;text-decoration: none;font-style: normal;}
footer .footer_wraper{max-width:1400px;margin:0 auto;display:flex;justify-content:space-between;}
footer .ft_nav{display:flex;gap:16px;margin-bottom:42px}
footer .ft_nav li a{font-size:16px;font-weight:700;color:#fff;display:flex;align-items:center;gap:16px}
footer .ft_nav li:not(:last-child) a::after{content:'';display:inline-block;width:4px;height:4px;border-radius:50%;background:#4B4B4B;}
footer .ft_nav li.org a{color:var(--main2)}
footer .ft_right{padding:20px;border: 1px solid #FFFFFF0D;background: #FFFFFF0D;border-radius:10px;}
footer .ft_right .txt01{font-size:14px;font-weight:700;color:var(--main2)}
footer .ft_right a{display:block;font-size:26px;font-weight:700;color:var(--main2);margin:4px 0 16px}
footer .ft_right p:not(.txt01){font-size:14px;line-height:22px;color:#fff;opacity:.5;}
footer .txt_area p span{padding-left:16px}
footer .add_wrap{display:flex;gap:16px;}


@media (max-width: 1020px) {
    /* 하연교육 디자인 에셋(모바일)*/
    h2{font-size:30px;font-weight:700;line-height:40px;color:var(--black)}
    h4{font-size:22px;font-weight:700;line-height:36px;color:var(--black)}
    h5{font-size:18px;}
    P{font-size:15px;font-weight:500;color:var(--gray1);}
    .label_chk_wrap .allceck{font-size:15px;line-height:18px;}
    .comment.listType{display:flex;}
    .comment.listType::before{transform: translateY(9px);}
    /*PC요소&모바일요소*/
    .pc_only_b{display:none !important;}
    .pc_only_f{display:none !important;}
    .m_only_b{display:block !important;;}
    .m_only_f{display:flex !important;;}

    /*중앙영역*/
    .md_contents{padding:0 16px}
    /*영역*/
    .btn_area{gap:8px}
    .tit_area{padding-bottom:16px;border-bottom:1px solid #000;}

    /*form_table*/
    .form_table .flex_box button{min-width:100px;width:100px;}
    .m_only_b .form_table th{padding-top:24px}

    /*=============================================================*/
    /*                      header - GNB(M)                       */
    /*=============================================================*/
    header{height:64px;}
    header .header_wraper_pc{display:none;}
    header .header_wraper_m{display:flex;width:100%;height:100%;padding:0 16px;justify-content:space-between;align-items:center;}
    #M_menu{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000000a2;z-index:999;transition:.5s;overflow:hidden}
    #M_menu.on{display:block;}
    #M_menu .menu_wrapper{width:80%;height:100%;position:absolute;right:0;top:0;background:#fff;}
    #M_menu .topmenu{display:flex;justify-content:space-between;align-items:center;padding:15.5px 16px;border-bottom:1px solid var(--border1)}
    #M_menu nav .depth1 > a{display:flex;justify-content:space-between;align-items:center;width:100%;padding:20px;background:#fff;font-size:20px;font-weight:600;line-height:24px;border-bottom:1px solid var(--border1);}
    #M_menu nav .depth1 > a::after{content:'';display:inline-block;width:24px;height:24px;background:url(../assets/icons/icon_dropdown2.svg)center no-repeat;transition:.3s;}
    #M_menu nav .depth1.on > a{background:#FFF6F1;color:#FF8522}
    #M_menu nav .depth1.on > a::after{transform:rotate(-180deg);}
    #M_menu nav .depth2{padding:24px;border-bottom:1px solid var(--border1);display:flex;gap:16px;flex-direction:column;}
    #M_menu nav .depth2 a{font-size:16px;font-weight:600;color:#555;}
    /*=============================================================*/
    /*                      header - LNB(M)                       */
    /*=============================================================*/
    #LNB .Lnb_wraper > li:first-child{display:none;}
    #LNB .Lnb_wraper > li:not(:first-child){width:50%;min-width:inherit;}
    /*=============================================================*/
    /*                         footer (M)                         */
    /*=============================================================*/
    footer{padding:24px 16px 40px}
    footer .footer_wraper{flex-direction: column-reverse;}
    footer .ft_nav{flex-wrap:wrap;margin:32px 0;gap:8px}
    footer .ft_nav li a{font-size:13px;gap:8px}
    footer .txt_area p, footer .txt_area address{font-size:13px}
    footer .add_wrap{flex-direction:column;gap:8px}
    footer .txt_area p span{padding-left:8px}
    footer .txt_area{gap:8px}

}