/*메인공통*/
#Index_wrapper{min-width:1800px;width:100%;overflow:hidden;position:relative;margin:0 auto}
.full_wrap{width:100%;position:relative;}
.tit_area{display:flex;flex-direction: column;justify-content:center;align-items:center;}
.tit_area .sub_tit{font-size:26px;font-weight:700;margin-bottom:16px}
.tit_area .tit{font-size:56px;line-height:72px;font-weight:800;text-align:center;}
.particles{position:absolute;z-index:99;}
/*=============================================================*/
/*                         Main_banner1                        */
/*=============================================================*/
#Main_banner1{background:url(../assets/images/main/main01_bg.jpg)no-repeat center #5492ff;overflow:hidden;}
#Main_banner1 .visual_wrap{position:relative;height:100%;overflow:hidden;}
#Main_banner1 .txt_area{width:1400px;margin:286px auto;}
#Main_banner1 .txt_area .txt01{font-size:70px;line-height:86px;font-weight:800;color:#fff;}
#Main_banner1 .txt_area .txt01 span{color:var(--yellow)}
#Main_banner1 .txt_area .txt02_area{margin-top:60px}
#Main_banner1 .txt_area .txt02{font-size:26px;line-height:36px;font-weight:700;color:#fff;}
#Main_banner1 .img01_box{position:absolute;right:12%;top:55%;transform:translateY(-50%);}
#Main_banner1 .particles.p01{top:200px;right:190px;z-index:9;}
#Main_banner1 .particles.p02{top:650px;right:740px;z-index:9;}
#Main_banner1 #ScrollDown{display:flex;flex-direction:column;justify-content:center;align-items:center;position:absolute;bottom:60px;left:50%;transform:translateX(-50%);;}
#Main_banner1 #ScrollDown p{font-size:14px;font-weight:700;color:#fff;margin-bottom:10px}
.particles.p03{z-index:999;right:300px;transform:translateY(-70px);}

/*=============================================================*/
/*                         Main_banner2                        */
/*=============================================================*/
#Main_banner2{background:url(../assets/images/main/main02_bg.jpg)no-repeat top center;overflow:hidden;background-size: cover;}
#Main_banner2 .tit_area{margin:130px auto 80px}
#Main_banner2 .tit_area .sub_tit{color:var(--yellow)}
#Main_banner2 .tit_area .tit{color:#fff}
#Main_banner2 ul{display:flex;margin-bottom:130px;justify-content:center;align-items:center;gap:30px}
#Main_banner2 ul li{width:327px;height:420px;padding:64px 0;border-radius:20px;display:flex;flex-direction:column;justify-content:flex-start;align-items:center;background:#fff;transition:.2s;}
#Main_banner2 ul li .item_circle{width:180px;height:180px;border-radius:50%;display:flex;justify-content:center;align-items:center;margin-bottom:40px;transition:.2s;}
#Main_banner2 ul li:nth-child(1) .item_circle{background:#FFEDDF;}
#Main_banner2 ul li:nth-child(2) .item_circle{background:#ECF3FF;}
#Main_banner2 ul li:nth-child(3) .item_circle{background:#E6F5D0;}
#Main_banner2 ul li:nth-child(4) .item_circle{background:#FFF1D6;}
#Main_banner2 ul li:hover .item_circle{background:#fff;}
#Main_banner2 ul li:nth-child(1):hover{background:#FFEDDF;}
#Main_banner2 ul li:nth-child(2):hover{background:#ECF3FF;}
#Main_banner2 ul li:nth-child(3):hover{background:#E6F5D0;}
#Main_banner2 ul li:nth-child(4):hover{background:#FFF1D6;}
#Main_banner2 ul li p{font-size:26px;line-height:36px;text-align:center;font-weight:700;}
#Main_banner2 ul li:nth-child(1) p{color:var(--main)}
#Main_banner2 ul li:nth-child(2) p{color:var(--blue)}
#Main_banner2 ul li:nth-child(3) p{color:var(--green)}
#Main_banner2 ul li:nth-child(4) p{color:var(--main2)}
#Main_banner2 .particles.p04{top:130px;left:215px}
/*=============================================================*/
/*                         Main_banner3                        */
/*=============================================================*/
#Main_banner3{background:url(../assets/images/main/bg_line_snow.svg)no-repeat 102% 71%;overflow:hidden;padding-bottom:130px}
#Main_banner3 .banner_contetns{overflow:hidden;}
#Main_banner3 .b01{background:url(../assets/images/main/bg_line_snow.jpg)no-repeat top left;margin-bottom:130px}
#Main_banner3 .tit_area{margin:130px auto 80px}
#Main_banner3 .tit_area .sub_tit{color:var(--main2)}
#Main_banner3 .tit_area .tit{color:#000}
#Main_banner3 .main03_list01{display:flex;justify-content:center;gap:40px}
#Main_banner3 .main03_list01 li{text-align:center;}
#Main_banner3 .main03_list01 li p{font-size:26px;line-height:34px;color:var(--gray2);font-weight:700;}
#Main_banner3 .main03_list01 li .item_circle{display:flex;justify-content:center;align-items:center;}
#Main_banner3 .main03_list01 li img{max-width:inherit;height:100%;transition:.6s;}
#Main_banner3 .main03_list01 li:nth-child(1) img{height:110%;transform:translate(54px, -3px)}
#Main_banner3 .main03_list01 li:nth-child(1):hover img{transform:translate(54px, -3px) scale(1.05)}
#Main_banner3 .main03_list01 li:nth-child(2) img{height:100%;}
#Main_banner3 .main03_list01 li:nth-child(2):hover img{transform:scale(1.05);}
#Main_banner3 .main03_list01 li:nth-child(3) img{height:140%;transform: translate(130px, -71px);}
#Main_banner3 .main03_list01 li:nth-child(3):hover img{height:140%;transform: translate(130px, -71px) scale(1.05);}
#Main_banner3 .main03_list01 li .item_circle{width:440px;height:440px;border-radius:50%;overflow:hidden;margin-bottom:40px}
#Main_banner3 .main03_list01 li .tit{font-size:40px;font-weight:700;margin-bottom:16px}
#Main_banner3 .main03_list01 li:nth-child(1) .tit{color:var(--main2)}
#Main_banner3 .main03_list01 li:nth-child(2) .tit{color:var(--green)}
#Main_banner3 .main03_list01 li:nth-child(3) .tit{color:var(--blue)}
#Main_banner3 .particles.p05{top:310px;right:210px}
#Main_banner3 .particles.p06{top:670px;left:160px}
#Main_banner3 .b02{width:1800px;margin:0 auto;position:relative}
#Main_banner3 .review_wraper{width:1400px;padding:80px;margin:0 auto;background:var(--main2);display:flex;justify-content:center;align-items:center;flex-direction:column;gap:66.5px;border-radius:20px;}
#Main_banner3 .review_wraper .tit{position:relative;font-size:56px;font-weight:800;color:#fff;}
#Main_banner3 .review_wraper .tit::before{content:'';display:block;width:50px;height:100px;background:url(../assets/images/main/leaf.svg)no-repeat center;position:absolute;top:-16.5px;left:-87.5px}
#Main_banner3 .review_wraper .tit::after{content:'';display:block;width:50px;height:100px;background:url(../assets/images/main/leaf.svg)no-repeat center;position:absolute;top:-16.5px;right:-87.5px;transform:scale(-1, 1);}
#Main_banner3 .review_wraper .tit span{color:var(--yellow)}
#Main_banner3 .review_wraper .swiper{width:100%;}
#Main_banner3 .b02 .swiper-button-next::after,#Main_banner3 .b02 .swiper-button-prev::after{display:none;}
#Main_banner3 .b02 .swiper-button-next{top:700px;right:9.15%;width:fit-content} 
#Main_banner3 .b02 .swiper-button-prev{top:700px;left:9.15%;width:fit-content}
#Main_banner3 .review_wraper .main03_list02{display:flex;width:100%;}
#Main_banner3 .review_wraper .main03_list02 li{padding:30px 40px;display:flex;justify-content: flex-start;align-items:flex-start;flex-direction:column;background:#fff;border-radius:20px;}
#Main_banner3 .review_wraper .main03_list02 li .txt_review{margin:20px 0;font-size:24px;line-height:34px;font-weight:700;color:#555}
#Main_banner3 .review_wraper .main03_list02 li .btm_txt{width:100%;;display:flex;justify-content:space-between;align-items:center;}
#Main_banner3 .review_wraper .main03_list02 li .btm_txt p{font-size:18px;color:#999999}
#Main_banner3 .review_wraper .main03_list02 li .btm_txt .location_tag{padding:0 8px;height:27px;line-height:27px;font-size:16px;font-weight:700;color:#FF8522;background:#FFEDDF;border-radius:4px;}
#Main_banner3 .particles.p07{top:50px;right:400px;}
#Main_banner3 .particles.p08{top:233px;left:362px;}
/*=============================================================*/
/*                         Main_banner4                        */
/*=============================================================*/
#Main_banner4{background:#FFFAEC;overflow:hidden;padding:130px 0;display:flex;flex-direction:column;align-items:center;}
#Main_banner4 .tit_area{margin-bottom:60px}
#Main_banner4 .tit_area .sub_tit{color:var(--main2)}
#Main_banner4 .tit_area .tit{color:var(--black)}
#Main_banner4 .Latest_news ul{display:flex;gap:31px}
#Main_banner4 .Latest_news ul li{width:446px;}
#Main_banner4 .Latest_news ul li .img_area{overflow:hidden;border-radius:20px;}
#Main_banner4 .Latest_news img{transition:.6s;}
#Main_banner4 .Latest_news li:hover img{scale:1.05;}
#Main_banner4 .Latest_news .subject{margin:24px auto 8px;font-size:24px;font-weight:700;color:var(--black)}
#Main_banner4 .Latest_news .date{font-size:16px;line-height:22px;color:var(--gray2)}
/*=============================================================*/
/*                         Main_banner5                        */
/*=============================================================*/
#Main_banner5{position:relative;background:url(../assets/images/main/bg_line_snow.jpg)no-repeat top left;padding:130px 0;}
#Main_banner5 .tit_area{margin-bottom:60px}
#Main_banner5 .tit_area .sub_tit{color:var(--green)}
#Main_banner5 .tit_area .tit{color:var(--black)}
#Main_banner5 .banner_wraper{width:1400px;margin:0 auto;display:flex;justify-content:space-between;align-items:stretch}
#Main_banner5 .banner_wraper .left_area{display:flex;flex-direction:column;gap:30px}
#Main_banner5 .banner_wraper .left_area a{background:#F8F8F8;display:flex;justify-content:space-between;}
#Main_banner5 .banner_wraper a{width:685px;padding:60px;border-radius:20px;}
#Main_banner5 .banner_wraper > a{background:var(--green);display:flex;justify-content:space-between;flex-direction:column;}
#Main_banner5 .banner_wraper > a .tit{color:#fff;line-height:60px;}
#Main_banner5 .banner_wraper .tit{position:relative;font-size:40px;font-weight:700;color:var(--black);display:flex;align-items:center;gap:16px;}
#Main_banner5 .banner_wraper .tit::after{display:inline-block;padding:0 8px;height:27px;line-height:27px;background:#fff;border-radius:4px;font-size:14px}
#Main_banner5 .banner_wraper .tit.student::after{content:'회원';color:var(--main2);border:1px solid var(--main2)}
#Main_banner5 .banner_wraper .tit.teacher::after{content:'교사';color:var(--green);border:1px solid var(--green)}
#Main_banner5 .banner_wraper .readMore{margin-top:24px;font-size:18px;font-weight:700;color:var(--gray2);display:flex;align-items:center;}
#Main_banner5 .banner_wraper .readMore::after{content:'';display:inline-block;width:32px;height:32px;margin-left:16px;background:url(../assets/icons/icon_readMore.svg)no-repeat center;}
#Main_banner5 .particles.p09{top:161px;right:276px;}


@media (max-width: 1020px) {
    /*메인공통*/
    #Index_wrapper{min-width:inherit;}
    .tit_area .sub_tit{font-size:18px;line-height:21px;margin-bottom:8px}
    .tit_area .tit{font-size:26px;line-height:36px;}
    /*=============================================================*/
    /*                         Main_banner1                        */
    /*=============================================================*/
    #Main_banner1{min-height:736px;background:url(../assets/images/main/main01_bg_m.jpg)no-repeat center #5492ff;background-size:cover;}
    #Main_banner1 .visual_wrap{height:100%;}
    #Main_banner1 .txt_area{margin:60px 0 0 40px}
    #Main_banner1 .txt_area .txt01{font-size:30px;line-height:40px;}
    #Main_banner1 .txt_area .txt02_area{margin-top:24px}
    #Main_banner1 .txt_area .txt02{font-size:18px;line-height:24px;}
    #Main_banner1 .img01_box{transform: translate(20%, -30%);}
    #Main_banner1 .particles.p01{top:290px;right:20px;width:80px;}
    #Main_banner1 .particles.p02{top:570px;right:214px;width:74px;}
    /*=============================================================*/
    /*                         Main_banner2                        */
    /*=============================================================*/
    #Main_banner2{background:url(../assets/images/main/main02_bg_m.jpg)no-repeat center;background-size:cover;}
    #Main_banner2 .tit_area{margin:60px 0 40px}
    #Main_banner2 ul{flex-direction:column;padding:0 16px;gap:16px;margin-bottom:60px}
    #Main_banner2 ul li{width:100%;height:fit-content;flex-direction:row;padding:15px 16px;justify-content:flex-start;align-items:center;gap:16px}
    #Main_banner2 ul li .item_circle{width:90px;height:90px;margin-bottom:0}
    #Main_banner2 ul li .item_circle img{width:48px;}
    #Main_banner2 ul li p{text-align:left;font-size:18px;line-height:26px;}
    #Main_banner2 .particles.p04{top:24px;left:-20px;width:78px;}
    /*=============================================================*/
    /*                         Main_banner3                        */
    /*=============================================================*/
    #Main_banner3{background:none;padding-bottom:60px;}
    #Main_banner3 .b01{margin-bottom:40px}
    #Main_banner3 .tit_area{margin:60px auto 40px}
    #Main_banner3 .main03_list01{flex-direction:column;padding:0 30px}
    #Main_banner3 .main03_list01 li p{font-size:18px;line-height:26px;color:var(--gray2);font-weight:700;}
    #Main_banner3 .main03_list01 li .item_circle{position:relative;width:100%;max-width:300px;height:auto;margin:0 auto 24px}
    #Main_banner3 .main03_list01 li .item_circle::after{display: block;content:'';padding-bottom:100%}
    #Main_banner3 .main03_list01 li .item_circle img{position: absolute;top: 0;left: 0;object-fit: cover;width:100%;height:auto;}
    #Main_banner3 .main03_list01 li:nth-child(1) img{transform:translate(56px, 50px) scale(1.5)}
    #Main_banner3 .main03_list01 li:nth-child(1):hover img{transform:translate(56px, 50px) scale(1.55)}
    #Main_banner3 .main03_list01 li:nth-child(2) img{transform:translate(-66px, 74px) scale(1.8)}
    #Main_banner3 .main03_list01 li:nth-child(2):hover img{transform:translate(-66px, 74px) scale(1.85)}
    #Main_banner3 .main03_list01 li:nth-child(3) img{transform:translate(90px, -18px) scale(2.25)}
    #Main_banner3 .main03_list01 li:nth-child(3):hover img{transform:translate(90px, -18px) scale(2.3);height:auto;}
    #Main_banner3 .main03_list01 li .tit{font-size:24px;margin-bottom:8px}
    #Main_banner3 .particles.p05{top:1090px;right:30px;width: 114px;}
    #Main_banner3 .particles.p06{top:440px;left:-10px;width:110px;}
    #Main_banner3 .b02{width:100%;padding:0 16px}
    #Main_banner3 .review_wraper{width:100%;padding:60px 0 115px;gap:41px}
    #Main_banner3 .review_wraper .tit{font-size:22px;}
    #Main_banner3 .review_wraper .tit::before{width:30px;height:60px;top:-13px;left:-30px;background-size:cover;}
    #Main_banner3 .review_wraper .tit::after{width:30px;height:60px;top:-13px;right:-30px;background-size:cover;}
    #Main_banner3 .review_swiper2{overflow:none;}
    #Main_banner3 .review_wraper .main03_list02 li{padding:24px;display:flex;justify-content: flex-start;align-items:flex-start;flex-direction:column;background:#fff;border-radius:20px;}
    #Main_banner3 .review_swiper2 .swiper-slide{opacity:.5;transition:0.3s ease-in;}
    #Main_banner3 .review_swiper2 .swiper-slide.active-slide {opacity:1 !important}
    #Main_banner3 .review_wraper .main03_list02 li .txt_review{font-size:18px;line-height:26px;margin:10px 0;}
    #Main_banner3 .particles.p08{top:143px;left:52px;width:83px;}
    #Main_banner3 .review_wraper .main03_list02 li .btm_txt p{font-size:16px;}
    #Main_banner3 .b02 .swiper-button-next{top:inherit;bottom:33px;right:inherit;left:50%;transform:translateX(8px);width:fit-content;height: fit-content;} 
    #Main_banner3 .b02 .swiper-button-prev{top:inherit;bottom:33px;left:inherit;right:50%;transform:translateX(-8px);width:fit-content;height: fit-content;}
    /*=============================================================*/
    /*                         Main_banner4                        */
    /*=============================================================*/
    #Main_banner4{padding:40px 16px 63.5px;}
    #Main_banner4 .tit_area{margin-bottom:40px}
    #Main_banner4 .Latest_news ul{flex-direction:column;align-items: center;gap:24px}
    #Main_banner4 .Latest_news ul li{width:100%;}
    #Main_banner4 .Latest_news .img_area{position:relative;}
    #Main_banner4 .Latest_news .subject{font-size:18px;line-height:28px;margin:16px 0 8px}
    /*=============================================================*/
    /*                         Main_banner5                        */
    /*=============================================================*/
    #Main_banner5{background:none;padding:60px 16px;}
    #Main_banner5 .tit_area{margin-bottom:40px}
    #Main_banner5 .banner_wraper{width:100%;flex-direction:column;gap:16px}
    #Main_banner5 .banner_wraper .left_area{gap:16px}
    #Main_banner5 .banner_wraper a{width: 100%;padding:24px;}
    #Main_banner5 .banner_wraper .tit{font-size:24px;gap:8px;}
    #Main_banner5 .banner_wraper .readMore{margin-top:16px;font-size:15px}
    #Main_banner5 .banner_wraper .readMore::after{width:24px;height:24px;background-size:cover;margin-left:8px}
    #Main_banner5 .banner_wraper > a .tit{font-size:24px;line-height:34px;margin-bottom:40px}
    #Main_banner5 .banner_wraper > a img{width:193px;}
    
}   


